// Variables
$primary-color: #D20653;
$primary-gray: #333333;
$second-gray: #4F4F4F;
$third-gray: #828282;
$primary-orange: #FF951D;
$second-orange: #FFF5E9;
$gradient: linear-gradient(to right, $primary-color, $primary-orange);